{% extends "base.html" %}

{% block style %}


    <style>
        html,body{
            height:100%;
            font-family: 'Kanit', sans-serif;
        }
        .auth-box{
            border: 3px solid lightgray;
            border-radius: 10px;
            padding-top: 25px;
            margin: auto;
        }
        .login-from-container{
            width:300px;
            margin: auto;
        }
        .registration-from-container{
            width:400px;
            margin: auto;
        }
    </style>

{% endblock style %}
{% block content %}



    <div class="mt-4">
            <div class="auth-box text-center">
                    {% block auth %}
            
                    {% endblock %}
                </div>

    </div>
{% endblock content %}